{% extends "base.html" %}

{% block navi %}
<div class="container-lg">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">信用卡消費樣態</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dash/app">教育程度</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dash/app1">年齡層</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dash/app2">職業類別</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dash/app3">兩性</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dash/app4">年收入</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock %}