{% extends "base_nav.html" %}
<!--要更改html要使用flask --app yourname run --debug-->

{% block title %}
信用卡消費樣態
{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        @media (min-width: 576px) {
            
        }

        @media (min-width: 768px) {

        }

        @media (min-width: 992px) {

        }

        @media (min-width: 1200px) {

        }

        @media (min-width: 1400px) {

        }
    </style>
{% endblock %}

{% block content %}
    <div class="content-lg text-center">
        <h1>信用卡消費樣態</h1>
        {{ super() }}
    </div>
{% endblock %}

{% block footer %}
        &copy; Copyright 2023 by <a href="https://flask-dash-web.onrender.com">you</a>.
{% endblock %}